.added-item-section.section-first {
    
}

.added-item-section.section-second {
    border-top: 3px solid #ff0000;
    min-height: 30px;
    padding-top: 4px;
    margin-top: 4px;
}

.added-item-section.section-third {
    border-top: 3px solid #ff0000;
    padding-top: 4px;
    margin-top: 4px;
}

.items-container {
    min-height: 30px;
}