<div class="right-bloc-body search-client-result-container">
    <div ng-if="ctrl.clients.length == 0 && !ctrl.searchingClients" class='no-result-found'>No Results Found.</div>
    <div class="right-bloc-body-top client-list" custom-scrollbar>

        <div class="client-row" ng-repeat="client in ctrl.clients" ng-click='ctrl.selectClient(client)' ng-if="!client.isAdded">
            <div class="client-profile-image">
                <a href="javascript:void(0)" class="thumbnail">
                    <img ng-if="!client.image()" src="images/avatar2.png" alt="" />
                    <img ng-if="client.image()" ng-src="{{(ctrl.siteURL + client.image()) | checkimg:'images/avatar2.png'}}" alt="" enable-default-image />
                </a>
            </div>
            <div class="client-copy" style='padding-top: 5px'>
                <div class="copy-row">
                    <div class="text-left">
                        <a class='client-name'>{{client.name()}}</a>
                    </div>
                </div>
                <div class="copy-row">
                    <div class="text-left text-sm">
                        <span>{{client.phone()}}</span>
                    </div>
                    <div class="text-right text-sm">
                        <span>{{client.location()}}</span>
                    </div>
                </div>
                <div class="copy-row">
                    <div class="text-left text-sm">
                        <div>
                            <span class="">{{client.email()}}</span>
                        </div>
                    </div>
                    <div class="text-right text-sm">
                        <span ng-show="client.lastVisited()">Last Visit: {{client.lastVisited()}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="ctrl.searchingClients" class='local-loading-sign'>
        <div class="custom-spinner"></div>
        <div class="cg-busy-default-text ng-binding">Loading ...</div>
    </div>
</div>
