<div class="modal-header">
    <h5 class="modal-title">Indicate Seat</h5>
</div>
<div class="modal-body">
    <form class="form-horizontal" ng-submit="apply_seat()">
        <div class='circle-container'>
            <a href='javascript:void(0)' class='center'>
                <img src='images/pinpin/All.png'>
            </a>
            <a href='javascript:void(0)' class='deg0'>
                <img src='images/pinpin/dail-1.png'>
            </a>
            <a href='javascript:void(0)' class='deg45'>
                <img src='images/pinpin/dail-2.png'>
            </a>
            <a href='javascript:void(0)' class='deg135'>
                <img src='images/pinpin/dail-3.png'>
            </a>
            <a href='javascript:void(0)' class='deg180'>
                <img src='images/pinpin/dail-4.png'>
            </a>
            <a href='javascript:void(0)' class='deg225'>
                <img src='images/pinpin/dail-5.png'>
            </a>
            <a href='javascript:void(0)' class='deg315'>
                <img src='images/pinpin/dail-6.png'>
            </a>
        </div>
        <div class="form-group seat-buttons-wrapper">
            <div class="seat-buttons">
                <div class="col-xs-12">
                    <a href="javascript:void(0)" class="pull-left">
                        <img class="keys" ng-click="keys(4)" src="images/pinpin/dail-1.png" alt="" />
                    </a>
                    <a href="javascript:void(0)" class="pull-left">
                        <img class="keys" ng-click="keys(5)" src="images/pinpin/dail-2.png" alt="" />
                    </a>
                    <a href="javascript:void(0)" class="pull-left">
                        <img class="keys" ng-click="keys(6)" src="images/pinpin/dail-3.png" alt="" />
                    </a>
                    <a href="javascript:void(0)" class="pull-left">
                        <img class="keys" ng-click="keys(4)" src="images/pinpin/dail-4.png" alt="" />
                    </a>
                    <a href="javascript:void(0)" class="pull-left">
                        <img class="keys" ng-click="keys(5)" src="images/pinpin/dail-5.png" alt="" />
                    </a>
                    <a href="javascript:void(0)" class="pull-left">
                        <img class="keys" ng-click="keys(6)" src="images/pinpin/dail-6.png" alt="" />
                    </a>
                    <a href="javascript:void(0)" class="pull-left">
                        <img class="keys" ng-click="keys(4)" src="images/pinpin/dail-7.png" alt="" />
                    </a>
                    <a href="javascript:void(0)" class="pull-left">
                        <img class="keys" ng-click="keys(5)" src="images/pinpin/dail-8.png" alt="" />
                    </a>
                    <a href="javascript:void(0)" class="pull-left">
                        <img class="keys" ng-click="keys(6)" src="images/pinpin/dail-9.png" alt="" />
                    </a>
                    <a href="javascript:void(0)" class="pull-left">
                        <img class="keys" ng-click="keys(4)" src="images/pinpin/dail-10.png" alt="" />
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm button-wrapper">
            <div class="action-buttons">
                <button class="btn btn-gray" ng-click="cancel()" style="margin-right: 10px">Cancel</button>
                <button class="btn btn-gray" type="submit">Apply</button>
            </div>
        </div>
    </form>
</div>