<div id="credittab">
    <seat-payment ng-if="ctrl.currentSubType.order.isChair()" ng-model="ctrl.currentSubType.seatData" ng-change="ctrl.currentSubType.onSeatChange()"></seat-payment>
    <split-payment ng-if="ctrl.currentSubType.order.isEqually()" ng-model="ctrl.currentSubType.splitData" ng-change="ctrl.currentSubType.onSplitChange()"></split-payment>
    
    <div id="ckgsg" class="row" style="text-align: center;" ng-show="ctrl.currentSubType.get('processor') != 'No'">
        <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-graysample" ng-class="{'active': ctrl.currentSubType.tabControl.isTab('authorize')}"
                ng-click="ctrl.currentSubType.tabControl.showTab('authorize');ctrl.currentSubType.authorizeclick();" id="sel_authorize" style="width: 88px;">
                <input type="radio" name="options">
                Authorize
            </label>
            <label class="btn btn-graysample" id="sel_sale" ng-class="{'active': ctrl.currentSubType.tabControl.isTab('sale')}"
                ng-click="ctrl.currentSubType.tabControl.showTab('sale');ctrl.currentSubType.saleclick();" style="width: 88px;">
                <input type="radio" name="options">
                Sale
            </label>
        </div>

    </div>
    <authorized-credit-cards></authorized-credit-cards>
    <!---->
    <section id="ccnum" style="margin-top: 5px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <input soft-input type="text" class="form-control" id="cc_first_name" placeholder="First Name"
                        ng-model="ctrl.currentSubType.cc_first_name" ng-disabled="ctrl.currentSubType.ckprocess()">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <input soft-input type="text" class="form-control" placeholder="Last Name" ng-model="ctrl.currentSubType.cc_last_name"
                        id="cc_last_name" ng-disabled="ctrl.currentSubType.ckprocess()">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <input soft-input type="text" class="form-control" id="cc_number" placeholder="CC Number" ng-model="ctrl.currentSubType.cc_number"
                        ng-disabled="ctrl.currentSubType.ckprocess()">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-6">
                    <div class="form-group">
                        <select class="form-control" ng-options="month as month for month in ctrl.currentSubType.months"
                            ng-model="ctrl.currentSubType.exp_month" id="cc_exp_month" ng-disabled="ctrl.currentSubType.ckprocess()">
                            <option value="">Exp. Month</option>

                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <select class="form-control" ng-options="year as year for year in ctrl.currentSubType.getYears()" ng-model="ctrl.currentSubType.exp_year" id="cc_exp_year"
                            ng-disabled="ctrl.currentSubType.ckprocess()">
                            <option selected value="">Exp. Year</option>
                            
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <input soft-input type="text" class="form-control" placeholder="CVV" id="cc_cvv" ng-model="ctrl.currentSubType.cc_cvv"
                        ng-disabled="ctrl.currentSubType.ckprocess()">
                </div>
            </div>
        </div>
    </section>
    <div class="row font-black" style="padding: 3px;">
        <div class="col-xs-6">
            <label class="v-desc" style="width: 100%; font: inherit; font-weight: bold; position: absolute; margin-top: 3px;"> Amount Due </label>
        </div>
        <div class="col-xs-6" style="text-align: right;">
            <label class="v-desc" style="font: inherit; font-weight: bold; margin-top: 3px;margin-right:10px;"> {{ctrl.currentSubType.amt_due}}</label>
        </div>
    </div>
    <div id="cont_seat" class="cont_seat"></div>
    <div class="row" style="margin-top: 1px;" ng-show="ctrl.hasGratuity">
        <div class="col-xs-12">
            <div class="form-group">
                <input soft-input type="text" id="cc_gratuity" class="form-control money_field" placeholder="Gratuity" ng-model="ctrl.currentSubType.gratuity"
                    ng-blur="ctrl.currentSubType.updateAmountDue();ctrl.currentSubType.formatGratuity()" ng-change="ctrl.currentSubType.gratuityChange=true">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <input soft-input type="text" class="form-control money_field" placeholder="Payment" id="cc_paymm" ng-model="ctrl.amountDue"
                    ng-model-options="{ getterSetter: true }">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <input soft-input type="text" class="form-control" placeholder="Manual Authorization" ng-model="ctrl.currentSubType.manual_autho">
            </div>
        </div>
    </div>

</div>