<div data-cg-busy="{promise:myPromise,message:'Processing ...', backdrop:true, templateUrl:'templates/partials/loading.html'}"></div>
<div id="check">

    <!-- Fixed navbar -->
    <div class="container fixed-top" data-ng-include="'templates/partials/top-navbar.html'" data-ng-controller="NavbarController as navbarCtrl"></div>

    <!-- Fixed navbar -->
    <div data-ng-include="'templates/partials/bottom-navbar.html'"></div>

    <div class="container soft-body">
        <div class="top-header" data-search-bar></div>

        <div class='shownotify'>This page can't be accessed directly.</div>
    </div>
    <!-- /container -->
</div>
