<div cg-busy="{promise:myPromise,message:'Processing ...', backdrop:true, templateUrl:'templates/partials/loading.html'}"></div>
<div id="check">

    <!-- Fixed navbar -->

    <div class="container soft-body">
        
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table1' data-covers="4" data-max-covers="10" modal-class="seat">Table 1</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table2' data-covers="4" data-max-covers="10"  modal-class="seat">Table 2</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table3' data-covers="4" data-max-covers="10"  modal-class="seat">Table 3</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table4' data-covers="2" data-max-covers="10"  modal-class="seat">Table 4</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table5' data-covers="2" data-max-covers="10"  modal-class="seat">Table 5</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table6' data-covers="6" data-max-covers="10"  modal-class="seat">Table 6</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table7' data-covers="8" data-max-covers="10"  modal-class="seat">Table 7</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table8' data-covers="3" data-max-covers="10"  modal-class="seat">Table 8</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table9' data-covers="2" data-max-covers="10"  modal-class="seat">Table 9</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table10' data-covers="4" data-max-covers="10"  modal-class="seat">Table 10</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table11' data-covers="4" data-max-covers="10"  modal-class="seat">Table 11</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table12' data-covers="5" data-max-covers="10"  modal-class="seat">Table 12</button>
        <button type="button" class="btn btn-sm btn-primary btn-margin" seat template-url="templates/partials/seat.html" data-table='table13' data-covers="6" data-max-covers="10"  modal-class="seat">Table 13</button>
    </div>
</div>
